{% extends "games/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'games/css/edit_profile.css' %}">
{% endblock %}

{% block content %}

<div class="profile-glass">
    <h2 class="form-title">Editar Perfil</h2>

    {% if messages %}
        {% for message in messages %}
            {% if 'profile' in message.tags %}
                <div class="form-msg">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="edit-form">
        {% csrf_token %}

        <div class="form-group">
            <label>Usuario</label>
            {{ user_form.username }}
        </div>

        <div class="form-group">
            <label>Correo Electronico</label>
            {{ user_form.email }}
        </div>

        <div class="form-group">
            <label>Foto de perfil</label>

            <div class="file-upload">
                {{ profile_form.avatar }}
                <button type="button" class="btn-file btn-punk" id="fileTrigger">
                Seleccionar archivo
                </button>
                <span class="file-name" id="fileName">Sin archivos seleccionados</span>
            </div>
        </div>

        <button type="submit" class="btn-save btn-punk">
            Guardar Cambios
        </button>
    </form>
</div>
<script>
    const fileInput = document.querySelector('.file-upload input[type="file"]');
    const fileTrigger = document.getElementById("fileTrigger");
    const fileName = document.getElementById("fileName");

    if (fileInput && fileTrigger && fileName){
        // ocultar texto default si el input trae value (por recarga)
        fileTrigger.addEventListener("click", () => fileInput.click());

        fileInput.addEventListener("change", () => {
        fileName.textContent = fileInput.files.length
            ? fileInput.files[0].name
            : "Sin archivos seleccionados";
        });
    }
</script>
{% endblock %}